@import 'variables';

@mixin center($x, $y) {
    left: $x;
    top: $y;
    transform: translate($x * -1, $y * -1);
}

@mixin circle($sizeY, $sizeX: $sizeY) {
    width: $sizeX;
    height: $sizeY;
    line-height: $sizeY;
}
